In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv('skupovi_podataka/bitcoin.csv', sep=';', names=['open', 'high', 'low', 'close']) # sep=';' ako nije defaultni separator.
data.head(3)

     open    high     low   close
0  382.38  756.93  309.33  452.66
1  448.49  519.28  364.05  364.05
2  362.18  386.93  233.05  233.05

In [ ]:
data.median()

open      890.97
high     1040.49
low       764.02
close     900.78
dtype: float64

2. Izvezene podatke potrebno je učitati u Notebook koristeći biblioteku Pandas. Napraviti novi stupac „status“ koji će biti indikator je li BitCoin u tom danu pao u odnosu na prošli dan. Ako je vrijednost u stupcu „high“ za neki redak manja nego u prethodnom retku upiši broj -1, ako je ista ili je prvi redak u pitanju upiši 0, a ako je veća onda upiši 1.

In [ ]:
statuses = [0] * len(data)

for (index, broj) in enumerate(data.high):
  if index == 0:
    statuses[index] = 0 # mogli smo i bez ovoga
    continue

  if data.high[index - 1] < data.high[index]:
    statuses[index] = 1
  elif data.high[index - 1] > data.high[index]:
    statuses[index] = -1
  else:
    statuses[index] = 0

data.status = statuses

In [ ]:
data.head(3)

     open    high     low   close  status
0  382.38  756.93  309.33  452.66       0
1  448.49  519.28  364.05  364.05      -1
2  362.18  386.93  233.05  233.05      -1

3. Dodati još jedan stupac „random“ i za svaki redak prođi i generiraj nasumičan broj koristeći sljedeće dvije linije koda: | from random import randint | randint(0, 100). Ako dobiveni broj nije paran generiraj ga ponovno sve dok se ne generira para

In [ ]:
from random import randint
randint(0, 100)

39

In [ ]:
def generiraj_paran_slucajan_broj():
  broj = 1

  while broj % 2 == 1:
    broj = randint(0, 100)

  return broj

In [ ]:
random_numbers = [0] * len(data)

for (index, number) in enumerate(random_numbers):
  random_numbers[index] = generiraj_paran_slucajan_broj()

data['random'] = random_numbers

In [ ]:
data.head()

     open    high     low   close  status  random
0  382.38  756.93  309.33  452.66       0      14
1  448.49  519.28  364.05  364.05      -1      46
2  362.18  386.93  233.05  233.05      -1       8
3  231.11  273.04  200.98  213.15      -1      34
4  212.18  223.70  203.44  220.66      -1      80

Uzeti postojeću tablicu "data" i podijeliti njene podatke na trening i test skup. Podatke je prije podjele potrebno "izmiješati" (shuffle).

Omjer bi trebao biti 80:20.

In [ ]:
prvi_dio = int(len(data) * 0.8)
drugi_dio = len(data) - prvi_dio
prvi_dio + drugi_dio

203

In [ ]:
shuffle = data.sample(frac=1)

trening_skup = shuffle.head(prvi_dio)
test_skup = shuffle.tail(drugi_dio)

        open     high      low    close  status  random
133  1616.99  1702.53  1497.94  1607.65       1      54
90    449.37   454.07   431.76   439.05      -1      80
28    549.32   604.69   535.92   575.21       1      38
24    641.88   646.93   622.36   625.32      -1      54
95    619.91   635.72   579.13   630.70      -1      50

In [ ]:
trening_skup_X = trening_skup[['open', 'high', 'low', 'close', 'random']]
trening_skup_y = trening_skup['status']

test_skup_X = test_skup[['open', 'high', 'low', 'close', 'random']]
test_skup_y = test_skup['status']

trening_skup_y.head()

133    1
90    -1
28     1
24    -1
95    -1
Name: status, dtype: int64