In [1]:
import pandas as pd

In [13]:
data = pd.read_csv('datasets/vjezba02-03.csv', sep=';') # Nazivi stupaca su već definirani u CSV datoteci.
data.head()

   Temperatura   Vlaga   Vjetar     Sunce       O3       NO      NO2
0      18.0020  88.451  1.24944 -0.381952  37.3472  1.28611   7.8944
1      18.0028  88.772  0.99861 -0.366761  31.6889  1.36667   9.1917
2      17.9559  89.406  0.80806 -0.310337  27.6667  1.61944  11.1972
3      17.9171  89.896  0.55722 -0.373271  24.0667  1.86944  11.5667
4      17.8494  90.262  0.55056 -0.414504  23.1278  1.37500  11.7500

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['Vlaga', 'Vjetar', 'Sunce', 'O3', 'NO2']],
                 data['Temperatura'], random_state=2)
X_train.head()

         Vlaga   Vjetar      Sunce       O3      NO2
541    60.4330  0.60667   684.3800  37.5833  6.61110
8295   27.5109  2.00389   671.9400  74.2580  3.37222
12468  38.3095  0.82028  1076.3300  70.7860  2.39167
4400   76.1770  1.62139    29.2101  42.9389  2.41944
25299  64.0520  2.46222   538.3900  41.6194  2.77222

In [5]:
y_test.head()

10559    21.2674
29315    27.5760
20574    23.3743
14377    22.5085
4306     22.4727
Name: Temperatura, dtype: float64

Umjesto binarne klasifikacije (0 i 1), odnosno temp je manja od 20C ili veća, napravit ćemo 4 klase.

1. klasa - < 15C
2. klasa - >15 i < 25C
3. klasa . >25 i < 35C
4. klasa . >35C

Pošto imamo 2 skupa, y_test i y_train, napravi funkciju koja će se zvati "odredi_klase" i koja prima skup kao argument, a vraća drugi niz sa klasama. Nakon toga napraviti stablo odluke dubine 7 i slučajnu šumu, usporediti točnost.

In [6]:
def odredi_klase(skup):
  klase = []

  for temperatura in skup:
    if temperatura < 15:
      klase.append(1)
    elif temperatura < 25:
      klase.append(2)
    elif temperatura < 35:
      klase.append(3)
    else:
      klase.append(4)

  return klase

In [7]:
y_test_mc = odredi_klase(y_test)
y_train_mc = odredi_klase(y_train)

y_train_mc[:5]

[2, 4, 3, 2, 2]

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=200)
knc.fit(X_train, y_train_mc)

preciznost = knc.score(X_test, y_test_mc)
preciznost

0.872691211106979

In [11]:
from sklearn.tree import DecisionTreeClassifier
stablo = DecisionTreeClassifier(max_depth=12)
stablo.fit(X_train, y_train_mc)

preciznost = stablo.score(X_test, y_test_mc)
preciznost

0.9227717862898227

In [12]:
from sklearn.ensemble import RandomForestClassifier
slucajna_suma = RandomForestClassifier()
slucajna_suma.fit(X_train, y_train_mc)

preciznost = slucajna_suma.score(X_test, y_test_mc)
preciznost

0.9435973720094211