In [3]:
import pandas as pd
data = pd.read_csv('datasets/vjezba04-05.csv')
data.head()

   id  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
categoric_columns = ['cut', 'color', 'clarity']

for column in categoric_columns:
  data[column] = data[column].astype('category').cat.codes

In [5]:
data.head()

   id  carat  cut  color  clarity  depth  table  price     x     y     z
0   1   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['x', 'y', 'z', 'table', 'carat', 'cut', 'color', 'clarity', 'depth']],
                                                    data['price'], test_size=0.2, random_state=3)
X_train.head()

          x     y     z  table  carat  cut  color  clarity  depth
10615  6.53  6.61  3.96   58.0   1.01    3      2        2   60.3
49830  5.37  5.34  3.21   58.0   0.56    3      1        5   59.9
17108  6.28  6.42  3.85   63.0   1.00    1      1        4   60.6
40704  4.74  4.78  2.94   55.0   0.40    2      1        7   61.8
11218  6.24  6.28  3.89   59.0   0.93    3      2        5   62.1

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [8]:
X_train_scaled[:5]

array([[ 0.71257565,  0.76727117,  0.59548532,  0.24027664,  0.44784013,
         0.43390676, -0.3539795 , -1.066481  , -1.01150219],
       [-0.32032274, -0.3434802 , -0.46282912,  0.24027664, -0.50047239,
         0.43390676, -0.94116037,  0.67372048, -1.29102018],
       [ 0.48996824,  0.60109577,  0.44026587,  2.46939189,  0.42676651,
        -1.51275277, -0.94116037,  0.09365332, -0.80186369],
       [-0.88129342, -0.83326033, -0.84382232, -1.09719251, -0.83765017,
        -0.539423  , -0.94116037,  1.8338548 ,  0.0366903 ],
       [ 0.45435106,  0.47865073,  0.49670931,  0.68609969,  0.27925123,
         0.43390676, -0.3539795 ,  0.67372048,  0.2463288 ]])

In [11]:
y_train_binary = y_train > 5000
y_test_binary = y_test > 5000

y_train_binary[:5]

10615    False
49830    False
17108     True
40704    False
11218    False
Name: price, dtype: bool

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [10]:
nn = Sequential()
nn.add(Dense(input_dim=9, units=12, kernel_initializer='normal', activation='relu'))
nn.add(Dense(units=8, kernel_initializer='normal', activation='relu'))
nn.add(Dense(units=4, kernel_initializer='normal', activation='relu'))
nn.add(Dense(units=1, kernel_initializer='normal', activation='sigmoid'))
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [12]:
nn.fit(X_train_scaled, y_train_binary, batch_size=5, epochs=3)

Epoch 1/3
43152/43152 [==============================] - 5s 117us/step - loss: 0.1405 - accuracy: 0.9367
Epoch 2/3
43152/43152 [==============================] - 5s 127us/step - loss: 0.1204 - accuracy: 0.9425
Epoch 3/3
43152/43152 [==============================] - 7s 161us/step - loss: 0.1101 - accuracy: 0.9481

In [13]:
nn.evaluate(X_test_scaled, y_test_binary)

10788/10788 [==============================] - 0s 9us/step

[0.1122036601189202, 0.9512421488761902]

In [14]:
nn.predict(X_test_scaled[:5])

array([[2.8744202e-07],
       [9.9952841e-01],
       [3.4022444e-01],
       [1.0938966e-06],
       [2.3146981e-04]], dtype=float32)

In [16]:
nn = Sequential()
nn.add(Dense(input_dim=9, units=12, kernel_initializer='normal', activation='relu'))
nn.add(Dense(units=8, kernel_initializer='normal', activation='relu'))
nn.add(Dense(units=4, kernel_initializer='normal', activation='relu'))
nn.add(Dense(units=1))
nn.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])

ERROR! Session/line number was not unique in database. History logging moved to new session 88

In [17]:
nn.fit(X_train_scaled, y_train, batch_size=1, epochs=5)

Epoch 1/5
43152/43152 [==============================] - 36s 843us/step - loss: 2535265.3714 - mean_squared_error: 2535210.5000
Epoch 2/5
43152/43152 [==============================] - 32s 747us/step - loss: 1565215.3861 - mean_squared_error: 1565200.8750
Epoch 3/5
43152/43152 [==============================] - 32s 753us/step - loss: 1529869.0253 - mean_squared_error: 1529856.0000
Epoch 4/5
43152/43152 [==============================] - 33s 754us/step - loss: 1512601.1666 - mean_squared_error: 1512583.8750
Epoch 5/5
43152/43152 [==============================] - 35s 801us/step - loss: 1486064.4702 - mean_squared_error: 1486051.3750

In [19]:
nn.predict(X_test_scaled[:5])

array([[  924.1699],
       [12287.111 ],
       [ 4222.7896],
       [  894.7747],
       [ 2781.852 ]], dtype=float32)

In [ ]:
y_test[:5]

36681     951
21314    9467
19527    8162
41099    1193
446      2816
Name: price, dtype: int64